<div class="card fixed w-full top-0 left-0 z-5 shadow-8 bg-green-400">
    <p-toolbar
        styleClass="bg-green-400">
        <ng-template pTemplate="start">
            <img class="logo" src="logo.png" />
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex flex-wrap align-items-center gap-3">
                <button class="p-link inline-flex justify-content-center align-items-center text-900 hover:text-red-400 h-3rem w-3rem border-circle hover:bg-black-alpha-90 transition-all transition-duration-200">
                    <i class="pi pi-home text-2xl"></i>
                </button>
                <button class="p-link inline-flex justify-content-center align-items-center text-900 hover:text-red-400 h-3rem w-3rem border-circle hover:bg-black-alpha-90 transition-all transition-duration-200" [routerLink]="['auth/login']">
                        <i class="pi pi-user text-2xl"></i>
                </button>
               <button class="p-link inline-flex justify-content-center align-items-center text-900 hover:text-red-400 h-3rem w-3rem border-circle hover:bg-black-alpha-90 transition-all transition-duration-200">
                    <i class="pi pi-shopping-cart text-2xl"></i>
                </button>
            </div>
        </ng-template>
    </p-toolbar>
    <div class="flex w-full bg-green-400 justify-content-center pb-2 gap-3 px-2">
        <p-dropdown 
        [options]="cities" 
        [(ngModel)]="selectedCity" 
        optionLabel="name"
        placeholder="Select a City"/>
        <p-iconField iconPosition="left" class="w-10">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Busca un libro" class="w-full hover:border-red-500 custom-shadow"/>
        </p-iconField>
    </div>
</div>
<div class="content overflow-hidden">
    <router-outlet></router-outlet>
</div>