<div class="login-screen">
    <mat-card class="login-card">
        <mat-card-title class="card-title">Iniciar Sesión</mat-card-title>
        <mat-card-content>
          <form>
            <mat-form-field appearance="fill">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput placeholder="ejemplo@correo.com">
            </mat-form-field>
      
            <mat-form-field appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" placeholder="******">
            </mat-form-field>
      
            <button mat-raised-button color="primary">Iniciar Sesión</button>
          </form>
        </mat-card-content>
      </mat-card>      
</div>
