::ng-deep .p-toolbar{
    border: none;
    padding: 10px;
}

.logo {
    width: auto;
    height: 50px;
}

.content {
    margin-top: 117px;
}

::ng-deep .p-inputwrapper{
    width: 10rem;
}

::ng-deep .p-inputwrapper:hover{
    border-color: var(--red-500);
}

::ng-deep .p-inputwrapper-focus{
    box-shadow: 
    3px 3px 5px rgba(255, 61, 50, 0.5),
   -3px 3px 5px rgba(255, 61, 50, 0.5),
    3px -3px 5px rgba(255, 61, 50, 0.5),
   -3px -3px 5px rgba(255, 61, 50, 0.5) !important;
}

::ng-deep .p-multiselect-header{
    display: none;
}

.list-none {
    list-style: none !important;
}

.surface-overlay {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    display: none;
  }
  
  .menu-open {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
  
  .menu-closed {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
  