.content {
    margin-left: 10vw;
    margin-right: 10vw;
}

.book-card {
    display: flex;
    margin: 20px;
  }
  
  .book-content {
    display: flex;
  }

  .book-image {
    width: auto;
    height: 400px;
    margin-right: 16px;
  }
  
  .book-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .price-amount {
    display: flex;
    justify-content: space-between;
  }

  .price-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    margin: 20px;
    padding: 20px;
  }

  .book-amount {
    display: flex;
  }

  .book-number {
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    width: 20px;
  }

  .price-button {
    width: 100%;
    background-color: black !important;
  }

  .price-button:hover {
    background-color: rgb(56, 56, 56) !important;
  }
