<mat-grid-list cols="5" gutterSize="10px" rowHeight="500px" class="content">
    <mat-grid-tile *ngFor="let card of cards">
        <mat-card class="card" appearance="outlined">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p style="text-align: center;">
                    Nombre del libro
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a type="button" mat-button style="margin: auto;" [routerLink]="['/detalles']">Ver más</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
  